doctype html
html(lang='en', ng-app="register")
head
  meta(charset="utf-8", http-equiv="X-UA-Compatible",content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Paper quiz killer
  link(href="/stylesheets/bootstrap.min.css",rel="stylesheet")
  link(href="/stylesheets/landing-page.css", rel="stylesheet")
  link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
  link(href="/stylesheets/tryit.css", rel="stylesheet")
  style.
    #topSpacing {height: 30px;}
body(ng-controller="MainController")
  
  h1 Dashboard
  img(id="ornament", src="/images/ornament.png")
  #topSpacing

  script(type="text/javascript", src="/libs/jquery.js")
  script(type="text/javascript", src="/libs/bootstrap.min.js")
  script(type="text/javascript", src="/libs/angular.js")
    