doctype html
html(lang='en', ng-app="distributeQuiz")
head
  meta(charset="utf-8", http-equiv="X-UA-Compatible",content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Paper quiz killer
  link(href="/stylesheets/bootstrap.min.css",rel="stylesheet")
  link(href="/stylesheets/landing-page.css", rel="stylesheet")
  link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
  link(href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic",rel="stylesheet",type="text/css")
  link(href="/stylesheets/tryit.css", rel="stylesheet")
  style.
    .message {display: none;}
body(ng-controller="MainController")
  h1 2. Send it
  img(id="ornament", src="/images/ornament.png")
  form(class="form-horizontal initialForm")
    .form-group
      label(for="inputStudentCount", class="col-sm-2 control-label") Nr. of students:
      .col-sm-2
        input(type="number", class="form-control", id="inputStudentCount", ng-model="instanceCount")

  button(class="btn btn-default col-sm-1 initialForm", ng-click="instantiateQuizzes()") Go 
  br
  div(class="row message")
    h3 Your quizzes are ready to be sent out to the students
    br
    p Please note that this is a demo version. These tests are real and functioning but we do not save any names or email addresses on the server. It's up to you to take note which student received which url.
    br
    button(id="toDashboardButton", class="btn btn-default col-sm-2", ng-click="goToDashboard()") Go to my dashboard
  div(id="quizList")
  script(type="text/javascript", src="/javascripts/jquery.js")
  script(type="text/javascript", src="/javascripts/bootstrap.min.js")
  script(type="text/javascript", src="/javascripts/angular.js")
  script(type="text/javascript", src="/javascripts/distributeQuizApp.js")
    