doctype html
html(lang='en', ng-app="register")
head
  meta(charset="utf-8", http-equiv="X-UA-Compatible",content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Paper quiz killer
  link(href="/stylesheets/bootstrap.min.css",rel="stylesheet")
  link(href="/stylesheets/landing-page.css", rel="stylesheet")
  link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
  link(href="/stylesheets/tryit.css", rel="stylesheet")
  style.
    .message {display: none;}
    .formRow {margin-bottom: 10px;}
    #topSpacing {height: 30px;}
    #info {display: none;}
    #loginHeader {display: none;}
body(ng-controller="MainController")
  
  h1#loginHeader Please login
  h1#registerHeader Please register
  img(id="ornament", src="/images/ornament.png")
  #topSpacing
  .container
    .span4
      form(class="form-horizontal initialForm")
        .form-group
          .row.formRow
            .col-sm-3
            label(for="inputUsername", class="col-sm-2 control-label") Username
            .col-sm-2
              input(type="text", class="form-control", id="inputUsername", ng-model="username")
          .row.formRow
            .col-sm-3
            label(for="inputPassword", class="col-sm-2 control-label") Password
            .col-sm-2
              input(type="password", class="form-control", id="inputPassword", ng-model="password")
      .row#loginLink
        .col-sm-4
        a(href="", ng-show="loginOrRegister=='register'", ng-click="loginOrRegister='login'") I'm registered, take me to the login page
      .row#registerLink
        .col-sm-4
        a(href="", ng-show="loginOrRegister=='login'", ng-click="loginOrRegister='register'") I want to register 
      .row
        .col-sm-4
        button(class="btn btn-default col-sm-3 initialForm", ng-click="go()") Go 
      .row#info
        .col-sm-4
        .dummy Fill out both username and password
  script(type="text/javascript", src="/libs/jquery.js")
  script(type="text/javascript", src="/libs/bootstrap.min.js")
  script(type="text/javascript", src="/libs/angular.js")
  script(type="text/javascript", src="/javascripts/register.js")
    