h1 {
    margin-top: 100px;
    text-align: center;
}
#ornament {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width:169px;
    height:100px;
}
.row {margin-left: 10px;}
.problemText {font-size: 1.3em !important;}
.addButton {float: right; }
.problem {
    margin-top: 20px
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.problemInstance {font-size: 1.6em;padding: 10px;}
.exampleText {font-size: 1em !important;}
.removeButton {float: right;}

.testHeading {margin-top: 20px; margin-bottom: 20px;}
#searchButton {margin-top: 10px;}
#doneButton {font-size: 1.5em;}
#previewButton {font-size: 1.5em;}
#tag {width: 300px;}